.main-nav {
  position: fixed;
  color: white;
  /* background-color: #1ac6f275; */
  background-color: #14a776;
  display: flex;
  align-items: center;
  padding: 0.3rem;
}

.hero-name {
  margin-left: 0.5rem;
}

.hero-image {
  width: 4%;
}

@media (max-width: 600px) {
  .hero-image {
    width: 9%;
  }
}
